@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'IBMPlexSansKR-Regular'!important;
  font-weight: 700!important;
}

body {
  font-family: 'IBMPlexSansKR-Regular'  !important;
    }

body
{
  background-color: #e6e6e6!important;
}

a
{
  text-decoration: none; 
}

ul li 
{
  list-style: none;
}

#login_box
{
  width:500px;
  height:200px;
  border:solid 2px gray;
}

table 
{
  margin-top:10px;
}

.mem a:hover 
{
  color:red;
}

#btn 
{
  width:95px;
  height:55px;
  background: skyblue;
  border:solid 1px skyblue;
}

.inph 
{
  height:25px;
}

.card {
  padding: 40px!important;
  border-radius: 5px!important;
  background-color: rgb(255,255,255)!important;
  border: 1px #a4a4a4!important;
}

.btn {
  border-radius: 12px!important;
}

.form {
  background-color: rgb(255,255,255,0);
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #a8a8a8;
  height: 40px;
}

.form:focus {
  outline: 0;
}

.container {
  width: 700px!important;
}

a {
  text-decoration: none!important;
  color: black!important;
}

a {
  font-size: 15px!important;
}

.form-label {
  font-size: 15px!important;
}


.page {
  width: 100%;
  height: 119px;
  padding: 10px;
  border: solid 1px #e6e6e6;
  border-radius: 0;
  overflow: auto;
  color: #414141;
  font-size: 14px;
}


.btn-secondary {
  background-color: #E6E6E6!important;
  color: black!important;
  border-color: #D8D8D8!important;
}

.form-label {
  margin-bottom: 0!important;
}

	
@media (max-width: 576px) { 
  .container {
    width: 95%!important;
  }

  .rc-anchor-normal {
    width: 100%!important;
  }
 } 


